@tailwind base;
@tailwind components;
@tailwind utilities;

*, :after, :before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.testimonial-slider .slick-slide {
    opacity: .41;
    padding: 0 20px;
}

.testimonial-slider .slick-slide.slick-active {
    opacity: 1;
}


.testimonial-slider .slick-dots {
    justify-content: center;
}

.testimonial-slider .slick-dots li button::before {
    border: 1px solid #FF6666;
}

.testimonial-slider .slick-dots li.slick-active button::before {
    background: #FF6666;
}

.slick-slider {
    width: 100%;
}

.slick-dots {
    display: flex !important;
    position: unset;
    margin-top: 34px;
}

.awesome-number .slick-dots {
    margin-top: 24px;
}

.slick-dots li {
    margin: 0 3.5px;
    width: 8px;
    height: 8px;
}

.slick-dots li button {
    width: 8px;
    height: 8px;
    padding: 0;
}

.slick-dots li button::before {
    width: 8px;
    height: 8px;
    content: '';
    opacity: 1;
    border-radius: 50%;
    transition: .2s linear;
    border: 1px solid #FFFFFF;
}

.slick-dots li.slick-active button::before {
    opacity: 1;
    background: white;
}

:focus-visible {
    outline: none !important;
}

.react-tel-input {
    font-family: 'Inter', sans-serif;
}

.react-tel-input .form-control {
    width: 100%;
    height: 63px;
    border-radius: 31.5px;
    padding-left: 58px;
}

.react-tel-input .selected-flag .arrow {
    display: none;
}

.react-tel-input .selected-flag {
    padding: 0;
}

.react-tel-input .flag-dropdown.open, .react-tel-input .flag-dropdown.open .selected-flag {
    border-radius: 0;
    background: transparent;
}

.react-tel-input .flag-dropdown {
    background: transparent;
    border: none;
    left: 30px;
}

input:checked::before {
    border: 1px solid white !important;
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 50%;
    top: 1px;
    left: 1px;
}


.why-choose-data-section {
    background-image: url("/images/why-choose-us-bg-web.svg");
}

.track-project-item:nth-child(1) .track-your-project-arrow::before, .track-project-item:nth-child(4) .track-your-project-arrow::before {
    content: unset;
}

.track-project-item:nth-child(5) .track-your-project-arrow::before, .track-project-item:nth-child(6) .track-your-project-arrow::before {
    top: 87px;
    left: -112px;
    border-right-color: #ff6666;
    border-left-color: transparent;
}

.track-project-item .track-your-project-arrow::before {
    content: '';
    border-width: 4px;
    position: absolute;
    left: -4px;
    top: 82.25px;
    border-color: #ff6666;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.track-project-item:nth-child(6) .track-your-project-arrow::after {
    content: '';
    top: 76px;
    right: -4px;
    border-width: 4px;
    position: absolute;
    border-color: #ff6666;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: skew(16deg, 0deg);
}

.service-card-details {
    display: none;
}

.service-card-content {
    transition: .2s linear;
}

.service-card:hover .service-card-content {
    background: rgba(255, 102, 102, .9);
}

.service-card:hover .service-card-content .plus-icon {
    display: none;
}

.service-card:hover .service-card-content .service-card-details {
    display: block;
}

@media screen and (max-width: 768px) {
    .slick-dots {
        justify-content: center;
    }

    .awesome-number .slick-slide {
        display: flex;
        justify-content: center;
    }

    .why-choose-data-section {
        background-image: url("/images/why-choose-us-bg.svg");
    }

}
